In [1]:
import pandas as pd
import ast

In [2]:
files = [
    {"file": "./PropertyData_2019.txt", "year": 2019},
    {"file": "./PropertyData_2020.txt", "year": 2020},
    {"file": "./PropertyData_2021.txt", "year": 2021}]


df = pd.DataFrame(columns=["location", "id", "price", "description", "year"])

In [3]:
def read_file(file, year):
    data = []
    with open(file, 'r') as f:
        for line in f:
            row = ast.literal_eval(line)
            row.append(year)
            data.append(row)

    return pd.DataFrame(data, columns=["location", "id", "price", "description", "year"])

In [4]:
for file in files:
    df = pd.concat([df, read_file(file['file'], file['year'])])

In [5]:
df.shape

(339, 5)

In [6]:
df.head()

,location,id,price,description,year
0,HAMRUN,700439,€260000,Highly finished corner PENTHOUSE served with l...,2019
1,SWIEQI,2002590,€430000,New on the market designer finished and fully...,2019
2,VITTORIOSA,2002588,€595000,A superb sea front designer finished third fl...,2019
3,SLIEMA,2002547,€440000,Very large fully furnished APARTMENT (approx ...,2019
4,ST PAULS BAY,2002394,€480000,A luxurious seafront APARTMENT situated in a ...,2019

In [32]:
df.to_csv('./data_2019_2021.csv', index=None)